@charset "UTF-8";
/************************************************************/
footer {
  background-color: rgba(0, 0, 0, 0.671);
  width: 100%;
  color: rgba(255, 255, 255, 0.692); }
  footer .apartado {
    text-align: start;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.692); }
  footer .loguito {
    width: auto; }

/*footer**********************************************************/
.containerfooter {
  width: 100%;
  height: 182px;
  background-color: rgba(0, 0, 0, 0.671);
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  color: white; }

/************************************************************/
.logoMarca {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.671);
  padding: 50px; }
  .logoMarca .logomarca__imagen--bordes {
    border: black 10px solid; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/************************************************************/
/*Ajustes generales al body*/
body {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 1.2rem;
  font-weight: 3;
  background-image: url(../media/imagenes/augustine-wong-li0iC0rjvvg-unsplash.jpg); }

.separador {
  display: grid;
  justify-content: center;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  text-align: center; }

/************************************************************/
.nuestraspizzas {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  background-color: rgba(1, 1, 3, 0.705);
  color: white;
  margin: 50px; }
  .nuestraspizzas .nuestraspizzas__lista--sindeco {
    list-style: none; }

/************************************************************/
.center {
  justify-content: center; }

.mapa {
  width: 100%;
  height: 400px; }

.titulos2 {
  color: #B22B1C;
  font-family: 'Manrope', sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase; }

.titulos {
  color: #B22B1C;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  font-size: 3rem;
  text-transform: uppercase; }

h2 {
  color: #B22B1C;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 2.1rem; }

h3 {
  color: #B22B1C;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-size: 2.1rem; }

/********************************************************************/
.noPadding {
  padding-left: 0px; }

.noDisplay {
  display: none; }

/***********************************************/
.cajita {
  display: flex;
  padding: 20px;
  justify-content: center;
  background-image: url(../media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
  background-attachment: fixed; }
  .cajita .cajita__contenedor {
    height: auto;
    border-radius: 3%;
    border: 5px rgba(56, 2, 2, 0.883) solid;
    padding: 20px;
    margin: 10px;
    z-index: 2;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.698); }
  .cajita .cajita__contenedor--fondo {
    background-color: white; }

.flexcontainer--fondo {
  background-color: #534c4c57;
  padding: 10px; }

/*CARTA*/
.carta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  margin-top: 30px;
  margin-bottom: 30px; }
  .carta .carta__cajita {
    border: 2px black solid;
    width: 420px;
    height: 440px;
    background-color: white;
    margin: 10px;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 40px; }
  .carta .carta__imagenes {
    border-radius: 5%;
    border: black solid 2px;
    width: 350px;
    padding: 2px;
    margin: 10px; }
  .carta .carta--zoom {
    transition: transform .2s; }
  .carta .carta--zoom:hover {
    transform: scale(116%); }

/*GRILLACONTACTO*********************/
.grilla {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem; }
  .grilla .contenedorC {
    grid-column: 2/5;
    width: 100%;
    border: black 1px solid;
    text-align: center;
    padding-top: 50px; }
  .grilla .contenedorD {
    grid-column: 5/9;
    width: 100%;
    border: black 1px solid;
    padding-top: 50px; }
  .grilla .contenedorB {
    grid-column: 9/12;
    width: 100%;
    border: black 1px solid;
    padding-top: 50px; }
  .grilla .paddingContacto {
    margin: 15px;
    padding: 20px; }

/*GRILLACONTACTO*********************/
/*textosprincipales*/
.txtPrincipal {
  font-family: 'Krona One', sans-serif; }
  .txtPrincipal .txtPrincipal__titulo {
    font-size: 60px;
    text-transform: uppercase; }
  .txtPrincipal .txtPricipal__descripcion {
    font-size: 30px;
    font-family: 'DM Serif Text', serif;
    color: #B22B1C; }

.padding-textos {
  padding: 20px; }

.txtNuestroProducto {
  padding: 20px;
  font-size: 1.2rem; }

/*subrayado************************/
.subrayado {
  text-decoration: underline; }

.listaSinDeco {
  list-style: none; }

.sinDeco {
  text-decoration: none; }

/*GRIDNUESTROPRODUCTO*********************************************************************/
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px 700px;
  width: 100%;
  height: 100%;
  background-image: url(../media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
  background-position: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  grid-template-areas: "buda txtbuda" "txtganesha ganesha";
  justify-content: center;
  font-size: 1.4rem;
  text-align: center;
  row-gap: 10px; }

.gridContainer div {
  background-color: #f8f8f8;
  height: 600px;
  align-content: center;
  width: 100%;
  margin-top: 50px; }

.buda {
  grid-area: buda; }

.buda img {
  width: 100%;
  height: 100%; }

.textobuda {
  grid-area: txtbuda;
  margin: 10px; }

.ganesha {
  grid-area: ganesha; }

.ganesha img {
  width: 100%;
  height: 100%; }

.textoganesha {
  grid-area: txtganesha;
  margin: 10px; }

.bordes {
  border: 2px black solid; }

/*GRID VIÑETASINDEX********************************************************/
.gridIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  grid-template-areas: "txtsalon salon salon" "envios envios txtenvios " "txttakeaway takeaway takeaway";
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: darkred;
  align-items: center;
  color: rgba(255, 255, 255, 0.692);
  font-size: 1.5rem; }
  .gridIndex div {
    height: 600px;
    width: 100%;
    background-image: url(../media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
    background-attachment: fixed;
    align-content: center;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover; }

.tituloGrid {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #B22B1C;
  font-weight: bold; }

.textAlignCenter {
  text-align: center; }

.textAlign {
  padding-top: 45%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px; }

/*Alineacion texto grilla mm*/
.textAlignNuestrosProd {
  padding-top: 27%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px; }

.padLetras {
  padding: 30px;
  font-size: 1.2rem; }

.padTitulo {
  padding: 10px; }

/**/
.salon {
  grid-area: salon;
  height: 600px;
  width: 100%; }
  .salon .txtSalon {
    grid-area: txtsalon; }

.gridIndex__salon {
  height: 600px;
  width: 100%; }

.envios {
  grid-area: envios;
  overflow: hidden; }
  .envios img {
    width: 100%;
    height: 600px; }
  .envios .txtenvios {
    grid-area: txtenvios; }

.takeAway {
  grid-area: takeaway;
  overflow: hidden; }
  .takeAway img {
    width: 100%; }
  .takeAway .txtAway {
    grid: txttakeaway; }

/*GRILLACONTACTO*********************/
.grilla {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem; }
  .grilla .contenedorC {
    grid-column: 2/5;
    width: 100%;
    border: black 1px solid;
    text-align: center;
    padding-top: 50px; }
  .grilla .contenedorD {
    grid-column: 5/9;
    width: 100%;
    border: black 1px solid;
    padding-top: 50px; }
  .grilla .contenedorB {
    grid-column: 9/12;
    width: 100%;
    border: black 1px solid;
    padding-top: 50px; }
  .grilla .paddingContacto {
    margin: 15px;
    padding: 20px; }

/*GRILLACONTACTO*********************/
/*fondo ladrillos*/
.imgPrincipales {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(/media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
  background-size: contain; }

/***menuNavegacion**********************************************/
.marginTop {
  margin-top: 20px;
  margin-bottom: 20px; }

li.nav-item {
  width: 210px !important;
  height: 70px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.719);
  margin-left: 3px;
  margin-right: 3px; }

a.nav-link {
  width: 210px;
  display: flex;
  height: 70px;
  text-transform: uppercase;
  font-size: 17px;
  justify-content: center;
  align-items: center; }

.navbar ul li:hover {
  background: #a59999a1;
  width: auto; }

.navbar ul {
  width: 210px;
  justify-content: center; }

.activo {
  background-color: #ff1414c2;
  width: 210px;
  height: 70px; }

/*carrousel***********************/
.carousel-item {
  margin-top: 50px;
  height: 90vh;
  position: relative; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 90vh; }

/**MARGENES****************************************************/
.margenDelivery {
  margin: 40px;
  letter-spacing: 1px; }

.margenNuestroProducto {
  margin: 30px; }

.paddingContacto {
  margin: 2px; }

.paddingFormulario {
  padding-bottom: 20px; }

.paddingFooter {
  padding: 10px; }

.margenFooter {
  margin: 30px; }

/*MEDIA QUERIES***********************************************/
/***smartphone*********************************/
@media (max-width: 599px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  body {
    font-size: 1rem; }
  .flex2 {
    display: flex; }
  .logo {
    width: 100%;
    justify-content: center; }
  .justify-content-center {
    display: flex;
    justify-content: center; }
  .carousel-item {
    margin-top: 50px;
    height: 50vh; }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 50vh; }
  footer {
    padding: 15px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.712);
    color: white; }
  /*navegacion*/
  li.nav-item {
    width: 99% !important;
    height: 40px;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.719);
    margin-top: 5px; }
  a.nav-link {
    width: 99%;
    display: flex;
    height: 40px;
    text-transform: uppercase;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center; }
  .navbar ul li:hover {
    background: #a59999a1;
    width: auto; }
  .navbar ul {
    width: 99%;
    justify-content: center; }
  .activo {
    background-color: #ff141478;
    width: 99%;
    height: 40px; }
  .titulos2 {
    color: #B22B1C;
    font-family: 'Manrope', sans-serif;
    font-size: 2.1rem;
    text-transform: uppercase; }
  .alinearTxt {
    text-align: center;
    overflow: hidden;
    font-size: 1.2rem;
    padding-right: 10px;
    flex-wrap: wrap; }
  /*GRID VIÑETASINDEX********************************************************/
  .gridIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    grid-template-areas: "txtsalon" "salon" "txtenvios" "envios" "txttakeaway" "takeaway";
    background-color: darkred;
    align-items: center;
    color: rgba(255, 255, 255, 0.692);
    font-size: 1.3rem;
    padding-left: 0%;
    padding-right: 0%; }
  .gridIndex div {
    height: 400px;
    width: 100%;
    background-image: url(../media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
    align-content: center;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover; }
  .salon img {
    height: 400px; }
  .takeAway img {
    width: 100%;
    height: 400px; }
  .envios img {
    width: 100%;
    height: 400px; }
  .mapa--tamanio {
    width: 100%;
    height: 400px; }
  /*GRIDNUESTROPRODUCTO*********************************************************************/
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-template-areas: "buda" "txtbuda" "ganesha" "txtganesha";
    justify-content: center;
    font-size: 1.2rem;
    text-align: end;
    padding-left: 0px;
    padding-right: 0px; }
    .gridContainer ul {
      padding-left: 10px;
      padding-right: 10px; }
  .gridContainer div {
    background-color: #f8f8f8;
    height: 400px;
    width: 100%;
    align-content: center;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px; }
  .buda {
    grid-area: buda; }
  .buda img {
    width: 100%; }
  .textobuda {
    grid-area: txtbuda;
    height: 400px; }
  .ganesha {
    grid-area: ganesha; }
  .ganesha img {
    width: 100%; }
  .textoganesha {
    grid-area: txtganesha; }
  .bordes {
    border: 2px black solid; }
  .titulos {
    font-size: 2.2rem; }
  .flexcontainer {
    padding: 10px;
    display: flex;
    height: 45vh;
    width: 100%;
    flex-direction: column; }
  /************************************************************/
  .logoMarca {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 10px; }
  .logoMarca .logomarca__imagen--bordes {
    border: black 10px solid; }
  /************************************************************/
  .noDisplay {
    display: block; }
  .noDisplaySmart {
    display: none; }
  footer {
    background-color: rgba(0, 0, 0, 0.671);
    width: 100%;
    color: rgba(255, 255, 255, 0.692); }
    footer .apartado {
      text-align: start;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.692); }
    footer .loguito {
      width: 100px; }
  /*footer**********************************************************/
  .containerfooter {
    width: 100%;
    height: 182px;
    background-color: rgba(0, 0, 0, 0.671);
    display: grid;
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    color: white; }
  .margenFooter {
    margin: 0px; }
  ol, ul {
    padding-left: 0rem; }
  .grilla {
    display: block;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1rem; }
    .grilla .contenedorC {
      grid-column: 2/5;
      width: 100%;
      border: black 1px solid;
      text-align: center;
      padding-top: 50px; }
    .grilla .contenedorD {
      grid-column: 5/9;
      width: 100%;
      border: black 1px solid;
      padding-top: 50px; }
    .grilla .contenedorB {
      grid-column: 9/12;
      width: 100%;
      border: black 1px solid;
      padding-top: 50px; }
    .grilla .paddingContacto {
      margin: 15px;
      padding: 20px; } }

/*TaBLET*/
@media (min-width: 768px) and (max-width: 1024px) {
  li.nav-item {
    width: 150px !important;
    height: 70px;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.719);
    margin-left: 3px;
    margin-right: 3px; }
  a.nav-link {
    width: 150px;
    display: flex;
    height: 70px;
    font-size: 1rem;
    justify-content: center;
    align-items: center; }
  .navbar ul li:hover {
    background: #a59999a1;
    width: auto; }
  .navbar ul {
    width: 150px;
    justify-content: center; }
  .activo {
    background-color: #ff1414c2;
    width: 150px;
    height: 70px; }
  .takeAway img {
    width: 100%;
    height: 600px; }
  .gridIndex {
    padding-left: 0%;
    padding-right: 0%; }
  .titulos2 {
    font-size: 2rem; }
  .mapa--tamanio {
    width: 100%;
    height: 400px; }
  /*NUESTROPRODUCTO**************************************************/
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    background-image: url(../media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
    background-position: center;
    background-position: center;
    grid-template-areas: "buda txtbuda" "txtganesha ganesha";
    justify-content: center;
    font-size: 1.2rem;
    text-align: center; }
  .gridContainer div {
    background-color: #f8f8f8;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
    align-content: center;
    width: 100%; }
  .buda {
    grid-area: buda; }
  .buda img {
    width: 100%;
    height: 100%; }
  .textobuda {
    grid-area: txtbuda;
    margin: 10px;
    height: 400px; }
  .ganesha {
    grid-area: ganesha; }
  .ganesha img {
    width: 100%;
    height: 100%; }
  .textoganesha {
    grid-area: txtganesha;
    margin: 10px; }
  .bordes {
    border: 2px black solid; }
  .mapa--tamanio {
    width: 100%;
    height: 400px; } }
