/************************************************************/

footer {background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    color: white;
    padding: 20px;
    
    .footer__yonkers {font-size: 1.3rem;}

    .footer__direccion {font-size: 1.2rem;}

    .footer__textalign {text-align: left;}

    
}





/*footer**********************************************************/

.containerfooter {
    
    width: 100%;
    height: 182px;
    background-color: rgba(0, 0, 0, 0.671);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color: white;    
  }