/************************************************************/

footer {background-color: $negro-traslucido;
    width: 100%;
    color: $blanco-gris;
    a {
        color: $blanco-gris;
    }
  

    .apartado {text-align: start;
        text-decoration: none;
        color: $blanco-gris;
    }
    

    .loguito {
        width: auto;}

    
}





/*footer**********************************************************/

.containerfooter {
    
    width: 100%;
    height: 182px;
    background-color: rgba(0, 0, 0, 0.671);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    color: white ;    
  }