/************************************************************/

.logoMarca {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $negro-traslucido;
    padding: 19px;

    .logomarca__imagen--bordes {border: black 10px solid;}
}

