/************************************************************/

.logoMarca {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $negro-traslucido;
    padding: 19px;

    .logomarca__imagen--bordes {border: black 10px solid;}
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
  }