/************************************************************/

.logoMarca {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $negro-traslucido;
    padding: 50px;

    .logomarca__imagen--bordes {border: black 10px solid;}
}

