/**MARGENES****************************************************/

.margenDelivery {margin: 40px;
    letter-spacing: 1px;

}


.margenNuestroProducto {margin-top: 30px;}

.paddingContacto {
    margin: 2px;
}

.paddingFormulario {
    padding-bottom: 20px;
}

.paddingFooter {
    padding: 10px;
}

.margenFooter {margin: 30px;}

.margenVideo {margin-top: $margen3}
