/*TaBLET*/
@media (min-width: 768px) and (max-width: 1024px)
{
    
    
        li.nav-item {
            width: 150px !important;
            height: 70px;
            align-content: center;
            background-color: rgba(0, 0, 0, 0.719);
            margin-left: 3px;
            margin-right: 3px;
        
        }
        a.nav-link {width: 150px;
            display: flex;
            height: 70px;
            font-size: 1rem;
            justify-content: center;
            align-items: center;
        }
        
        .navbar ul li:hover{
            background:#a59999a1;
            width: auto;
           }
        
        .navbar ul {width: 150px;
        justify-content: center;}
         
        
        .activo {
            background-color: #ff1414c2;
            width: 150px;
            height: 70px
           
        
          }  

        .takeAway img {width: 100%;
            height: 600px;
            }

        .gridIndex {padding-left: 0%;
        padding-right: 0%;}
        
        .titulos2 {font-size: 2rem;}

        .mapa--tamanio {
            width: 100%;
            height: 400px; }

     /*NUESTROPRODUCTO**************************************************/
     .gridContainer {display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
        background-image: url(../media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
        background-position: center;
        
        
        background-position: center;
        grid-template-areas: 
        "buda txtbuda"
        "txtganesha ganesha"
        ;
        justify-content: center;
        font-size: 1.2rem;
        text-align: center
        ;
    
       
    }
    
    .gridContainer div {background-color: rgb(248, 248, 248);
        margin-top: 50px;
        margin-bottom: 50px;
        height: 400px;
        align-content: center;
        width: 100%;
        
       
    }
    
    
    .buda {grid-area: buda;
       
      
    
    
    }

    .buda img {width: 100%;
        height: 100%;
    }
    .textobuda {grid-area: txtbuda;
        margin: 10px;
        height: 400px;
        
    }
    .ganesha {grid-area: ganesha;
        
     
    }

    .ganesha img {width: 100%;
        height: 100%;
    }

    .textoganesha {grid-area: txtganesha;
        margin: 10px;
        
      
    
    }
    
    .bordes{border: 2px black solid;}

    .mapa--tamanio {
        width: 100%;
        height: 400px; }


}

/*MEDIA QUERIES***********************************************/
/***smartphone*********************************/
@media (max-width: 599px)   {
    * {

        margin: 0;
    
        padding:0;
    
        box-sizing: border-box;}


    body {font-size: 1rem;}
    .flex2 {display: flex;}

    
    .logo {
        
        width: 100%;
        justify-content: center;
    }

    
    
    


    .justify-content-center {display: flex;
        justify-content: center;
    
    }

    
      .carousel-item {
        margin-top: 50px;
        height: 50vh;
      }
      .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 50vh;
      }
      
      footer {
        padding: 15px;
        height: 140px;
        background-color: rgba(0, 0, 0, 0.712);
        color: white;
    }

    /*navegacion*/

    
    li.nav-item {
    width: 99% !important;
    height: 40px;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.719);
    margin-top: 5px;

    }
    a.nav-link {width: 99%;
    display: flex;
    height: 40px;
    text-transform: uppercase;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    }

    .navbar ul li:hover{
    background:#a59999a1;
    width: auto;
   }

    .navbar ul {width: 99%;
    justify-content: center;
    }
 

    .activo {
    background-color: #ff141478;
    width: 99%;
    height: 40px
   

  }

    .titulos2 {
    color:#B22B1C ;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    }

    .alinearTxt {text-align: center;
    overflow: hidden;
    font-size: 0.8rem;
    padding-right: 10px;
    flex-wrap: wrap;

    
    }
    /*GRID VIÑETASINDEX********************************************************/
    .gridIndex {display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(6, 1fr)  ;
    width: 100%;
    height: auto;
   
    text-align: center;
    overflow: hidden;

    grid-template-areas: 
    "txtsalon"
    "salon"
    "txtenvios"
    "envios"
    "txttakeaway"
    "takeaway"
    ;
    background-color: darkred;
    align-items: center;
    color: rgba(255, 255, 255, 0.692);
    font-size: 1.3rem;
    padding-left: 0%;
    padding-right: 0%;

    }

    .gridIndex div {
    
    height: 400px;
    width: 100%;
    background-image: url(/media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
    align-content: center;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    }

    .salon img {height: 400px;}

    .takeAway img {width: 100%;
    height: 400px;}

    .envios img {width: 100%;
    height: 400px;
    }



    .mapa--tamanio {
        width: 100%;
        height: 400px; }


   /*GRIDNUESTROPRODUCTO*********************************************************************/
.gridContainer {display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-template-areas: 
    "buda"
    "txtbuda"
    "ganesha"
    "txtganesha" 
    ;
    justify-content: center;
    font-size: 1.2rem;
    text-align: end;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    
   
}

.gridContainer div {background-color: rgb(248, 248, 248);
    height: 400px;
    width: 100%;
    align-content: center;
    text-align: center;
   
}


.buda {grid-area: buda;

}

.buda img {width: 100%;}


.textobuda {grid-area: txtbuda;
    height: 400px;
}

.ganesha {grid-area: ganesha;
}

.ganesha img {width: 100%;}


.textoganesha {grid-area: txtganesha;

}     

.bordes{border: 2px black solid;}


.titulos {font-size: 2.2rem;}


    .flexcontainer {
    
        padding: 10px;
        display: flex;
        height: 45vh;
        width: 100%;
        
        flex-direction: column;




    }

    /************************************************************/
    .logoMarca {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 10px; }
    .logoMarca .logomarca__imagen--bordes {
      border: black 10px solid; }
  
  /************************************************************/


    }

    
@media (min-width: 768px) and (max-width: 1024px)

{.carta {
display: flex;
flex-wrap: wrap;
justify-content: center;
background-image: url(../media/imagenes/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
background-position: center;
background-size: cover
    ;

.carta__cajita {
    border: 2px black solid;
    width: 100%;
    height:100%;
    background-color: white;
    margin: 10px;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    padding: 5px;
}
.carta__imagenes {
    border-radius: 5%;
    border: black solid 2px;
    width: 100%;
    padding: 2px;
    margin: 0px;
    

}

.carta--zoom {
    transition: transform .2s;

}

.carta--zoom:hover {
    transform: scale(116%);



}

}
}
