/*textosprincipales*/
.txtPrincipal{font-family: 'Krona One', sans-serif;
    
    .txtPrincipal__titulo{font-size: 60px;
        text-transform: uppercase;
    }

    .txtPricipal__descripcion{font-size: 30px;
        font-family: 'DM Serif Text', serif;
        color:#B22B1C ;
    }
    

}



