
@import"variables";
@import"footer";
@import"header";
@import"generales";
@import"contenedores";
@import"textos";
@import"grids";
@import"index";
@import"margenes";
@import"medias";

$rojo-oscuro: darkred;
$blue: #55A;
$negro: black;
$negrot: rgba(0, 0, 0, 0.657);
$white: white;
$amarillo:rgba(254, 185, 54, 1);


   